<%- include("partials/header") %>

    <h1>Show page!</h1>

    <p>
        <%= campground.name %>
    </p>

    <img src="<%= campground.image %>" alt="">

    <p>
        <%= campground.description %>
    </p>

    <% campground.comments.forEach(function(comment){ %>
        <p>
            <%= comment.author %> -
                <%= comment.text %>
        </p>
        <% }) %>

            <%- include("partials/footer") %>